body
{
  width: 100%;
  height: 100%;
  background-color:#87CEFA;
}
.first_screen
{
	width:100%;
	height:100%;
}
.space_rows
{
	min-height:20%;

}

.splash_container
{
	
	background-color:#87CEFA;
}

/*play button animation start*/
#button_div
{
  width: 100%;
  height: 40%;
  display:flex;
  align-items:center;  /*vertically aligned! */
  justify-content: center;

}

#btnPlay { 
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 25px 0 25px 43.3px;
  border-color: transparent transparent transparent #00BFFF;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  left: 50%;
  margin-left: -15px;
}
#btnPlayCircle {
  -webkit-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
  background-color: #ffffff;
  height: 75px;
  width: 75px;
  border-radius: 75px;
  position: absolute;
  border: 5px solid #1C1C1C;
  top: 90%;
  margin-top: -37.5px;
  left: 50%;
  margin-left: -37.5px;
}
#btnPlayShadow {
  -webkit-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
  opacity: 0.5;
  background-color: #000000;
  -webkit-transform: rotateX(80deg);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: absolute;
  top: 100%;
  margin-top: -25px;
  left: 50%;
  margin-left: -20px;
}

/*End of play button animation start*/

/*//////////////////////////*/

.game_screen
{
  width: 100%;
  height: 100%;
  display: none;
}
.game_container
{
  width: 100%;
  height: 80%;
  margin-top: 10%;
}


.timer_restart_div
{
  width: 100%;
  height: 100%;
  background-color:#87CEFA;
  border: none;
}
.timer
{
  float: left;
  font-family: sans-serif;
  font-size: 20px;
  margin-left: 2%;
  margin-top: 2%;
  
}
.restart
{
  float: right;
  margin-right: 2%;
  font-family: sans-serif;
  font-size: 20px;
  margin-top: 2%;
}

#times_tag
{
  color: black;
  float: left;
  font-family: sans-serif;
  font-size: 25px;
  margin-left: 2%;
  margin-top: 2%;
}

table {
    border-collapse: collapse;
    background-color: black;
    width: 100%;
    height: 80%;

    
}

table, td {
    border: 10px solid gray;

}
td{
  height: 30%;
  width: 30%;
}
.time_div
{
  width: 100%;
  height: 10%;
  margin: 0px auto;
}

.text_div
{
  width: 100%;
  height: 10%;
  background-color: white;
  margin: 0px auto;
}
#text_div
{
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  font-size: 2rem;
  text-align: center;
}

.divs
{
  
  min-height: 100%;
  text-align: center;
   font-family: sans-serif;
   font-size: 45px;
   color: white;

}

 .restart_div
{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color:transparent;
  color: white;
  font-family: sans-serif;
  font-size: 40px;
  text-align: center;
  display: none;
}
.restart_btn
{
  border: none;
  padding: 25px;
  color: white;
  background-color:#1E90FF;
  font-size: 30px;
  margin-top: 20%;
  
}


.small_text
{
  font-size: 15px;
}

.preload
  {
    width: 100%;
    height: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;

    background-color: rgba(0,0,0,0.5);

  }
    .final_container
  {
    width: 100%;
    height: 100%;
    display: none;
   
  }

    #share
  {
    width: 100%;
    margin-top: 10%;
  }

  .result_container
{
  background-color: #ffffff;
  width: 100%;
  height: 90%;
  border: 7px solid #1E90FF;
  border-radius: 20px;
  overflow: auto;
  margin-top: 5%;
}

 #fails
   {
      margin-top: 5%;
   }
    #restart_moregames
  {
    width: 100%;
    height: 10%;
    margin-top: 5%;
  
  }
  .retry
{
  float: left;
  margin-left: 5%;
  cursor: pointer;
  color: #1E90FF;
}

a{
  float: right;
  margin-right: 5%;
}

  #tags
    {
      margin-top: 5%;
      font-size: 1rem;
    }

  
  .divs
  {
    font-size: 3rem;
  }
  #go_score
{
  font-size: 2rem;
}
#textValue
{
  font-size: 1rem;
}



  @media only screen and (max-width:420px)
  {
      html
      {
        font-size:14px;
      }
      .divs
      {
         padding-top: 35%;
      }
      .restart_btn
      {
        margin-top: 80%;
      }
    
  }
    @media (min-width:421px) and (max-width:520px)
  {
      html
      {
        font-size:14px;
      }
      .divs
      {
         padding-top: 28%;
      }
      .restart_btn
      {
        margin-top: 80%;
      }
    
  }


  @media only screen and (max-width:720px) and (orientation:landscape)
  {
      html
      {
        font-size: 16px;
      }
      
  }

  /* @media only screen and (max-width:720px)
  {
      html
      {
        font-size: 14px;
      }
      .divs
      {
         padding-top: 40%;
      }
  }*/

  @media only screen and (min-width:968px)
  {
      html
      {
        font-size: 20px;
      }
      .divs
      {
         padding-top: 15%;
      }
    
  }



